In [1]:
import pandas as pd

In [2]:
#Dataset
df=pd.read_csv('https://raw.githubusercontent.com/krishnaik06/Diabetes-Prediction/master/data/pima-data.csv')
df.head()

,num_preg,glucose_conc,diastolic_bp,thickness,insulin,bmi,diab_pred,age,skin,diabetes
0,6,148,72,35,0,33.6,0.627,50,1.3790,True
1,1,85,66,29,0,26.6,0.351,31,1.1426,False
2,8,183,64,0,0,23.3,0.672,32,0.0000,True
3,1,89,66,23,94,28.1,0.167,21,0.9062,False
4,0,137,40,35,168,43.1,2.288,33,1.3790,True

In [3]:
df.shape

(768, 10)

In [4]:
df.isnull().sum()

num_preg        0
glucose_conc    0
diastolic_bp    0
thickness       0
insulin         0
bmi             0
diab_pred       0
age             0
skin            0
diabetes        0
dtype: int64

In [5]:
y_df=df[['diabetes']]
y_df=pd.get_dummies(y_df,drop_first=True)

In [6]:
y_df.head()

   diabetes
0      True
1     False
2      True
3     False
4      True

In [10]:
y_df['diabetes']=y_df['diabetes'].astype('object')

In [11]:
y_df=pd.get_dummies(y_df,drop_first=True)

In [12]:
y_df.head()

   diabetes_True
0              1
1              0
2              1
3              0
4              1

In [14]:
y_df.shape

(768, 1)

In [39]:
X=df.iloc[:,:9]

In [40]:
X.shape

(768, 9)

In [24]:
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [41]:
X=np.asarray(X)
X.shape

(768, 9)

In [42]:
X[:5]

array([[6.0000e+00, 1.4800e+02, 7.2000e+01, 3.5000e+01, 0.0000e+00,
        3.3600e+01, 6.2700e-01, 5.0000e+01, 1.3790e+00],
       [1.0000e+00, 8.5000e+01, 6.6000e+01, 2.9000e+01, 0.0000e+00,
        2.6600e+01, 3.5100e-01, 3.1000e+01, 1.1426e+00],
       [8.0000e+00, 1.8300e+02, 6.4000e+01, 0.0000e+00, 0.0000e+00,
        2.3300e+01, 6.7200e-01, 3.2000e+01, 0.0000e+00],
       [1.0000e+00, 8.9000e+01, 6.6000e+01, 2.3000e+01, 9.4000e+01,
        2.8100e+01, 1.6700e-01, 2.1000e+01, 9.0620e-01],
       [0.0000e+00, 1.3700e+02, 4.0000e+01, 3.5000e+01, 1.6800e+02,
        4.3100e+01, 2.2880e+00, 3.3000e+01, 1.3790e+00]])

In [43]:
#Standardization
from sklearn import preprocessing
X = preprocessing.StandardScaler().fit(X).transform(X)
X[0:5]

array([[ 0.63994726,  0.84832379,  0.14964075,  0.90726993, -0.69289057,
         0.20401277,  0.46849198,  1.4259954 ,  0.90726993],
       [-0.84488505, -1.12339636, -0.16054575,  0.53090156, -0.69289057,
        -0.68442195, -0.36506078, -0.19067191,  0.53090156],
       [ 1.23388019,  1.94372388, -0.26394125, -1.28821221, -0.69289057,
        -1.10325546,  0.60439732, -0.10558415, -1.28821221],
       [-0.84488505, -0.99820778, -0.16054575,  0.15453319,  0.12330164,
        -0.49404308, -0.92076261, -1.04154944,  0.15453319],
       [-1.14185152,  0.5040552 , -1.50468724,  0.90726993,  0.76583594,
         1.4097456 ,  5.4849091 , -0.0204964 ,  0.90726993]])

In [44]:
X=X.T

In [45]:
X.shape

(9, 768)

In [46]:
X[:5]

array([[ 0.63994726, -0.84488505,  1.23388019, ...,  0.3429808 ,
        -0.84488505, -0.84488505],
       [ 0.84832379, -1.12339636,  1.94372388, ...,  0.00330087,
         0.1597866 , -0.8730192 ],
       [ 0.14964075, -0.16054575, -0.26394125, ...,  0.14964075,
        -0.47073225,  0.04624525],
       [ 0.90726993,  0.53090156, -1.28821221, ...,  0.15453319,
        -1.28821221,  0.65635768],
       [-0.69289057, -0.69289057, -0.69289057, ...,  0.27959377,
        -0.69289057, -0.69289057]])

In [31]:
Y=np.asarray(y_df)
Y.shape

(768, 1)

In [32]:
Y[:5]

array([[1],
       [0],
       [1],
       [0],
       [1]], dtype=uint8)

In [33]:
Y=Y.T

In [47]:
Y.shape

(1, 768)

In [48]:
Y[:5]

array([[1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0,
        1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1,
        0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0,
        1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0,
        1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1,
        1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1,
        1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
        1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1,
        0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1,
        1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1,
        1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0,
        1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0,
        1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0,
        0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0,
        1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0,
        0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
        0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0,
        0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0,
        0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1,
        0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
        1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0,
        1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0,
        1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
        0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0,
        0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0,
        0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0,
        1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1,
        0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1,
        0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0,
        0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0,
        0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0,
        1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0]],
      dtype=uint8)

In [50]:
##Sigmoid Function
def sigmoid(z):
    s=1/(1+np.exp(-z))
    return s

In [51]:
# z=w.T(x)+b Initialise parameters w &b
def initialize_with_zeros(dim):
    w=np.zeros((dim,1))
    b=0.
    return w, b

In [ ]:
#